*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color:#fcfcfc;
}
nav{
    background: #212529;
    height: 80px;
    width: 100%;
    justify-content: space-between;
}
label.logo{
    color: azure;
    font-size: 30px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    float: left;
}
nav ul {
    display: inline;
    /* float: right; */
    margin-right: 20px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: azure;
    font-size: 17px;
    float: right;
    text-transform: unset;
    padding: 7px 13px;
     border-radius: 3px;
     text-decoration: none;
}
ul{
    float:right;
}
.row{
    display: flex;
    height: 50%;
    width: 100%;
    background-color:white;
    border: white;

}
.col1{
    width: 50%;
    height: 100%;
    padding-left: 5%;
    padding-top: 5px; 
    margin: 5%;
}
.col2{
    width: 50%;
    height:100%;
    padding-left: 5%;
    padding-top: 7%;
    margin-right: 10%;
}
.h1{
    font-size: 60px;
}
.col3{
    width: 50%;
    height: 100%;
    padding-left:5%;
    padding-top: 10%;
    margin-right: 10%;
}
button{
    color: azure;
    background-color: rgb(38, 38, 235);
    border-color: rgb(57, 57, 224);
    display: inline-block;
    border: 3px;
    width: 7.5rem;
    height: 2rem;
}
.contentrow{
    color: rgb(248, 253, 253);
    background: #303438;
    width: 80%;
    height: 3cm;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border: 1px solid;
    border-radius: 0.5rem;
    display: flex;
    margin-left: 5px;
    margin-right:5px;
    margin: auto;
}
.card123{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 5cm;
    padding-left: 30px;
    padding-top: 40px;    
    height: 400px;
    width: 100%;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.row1{
    border: 1px solid rgb(196, 184, 184);
    height: 80%;
    width: 250px;
    text-align: left;
    margin-left: 36%;
    margin-right: 15%;
    
}
.card123 th tr{
    background-color: rgb(242, 241, 241);
    width: 40px;
    height: 400px;
    font-size: larger;
}
th{
    font-size: 1cm;
}
td{
    font-size: 0.5cm;
}
.footer{
    position: absolute;
    background:#212529;
    width: 100%;
    height: 3cm;
    padding-top: 50px;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}